[submodule "FMOscillator/Frameworks/AudioKit"]
	path =  FMOscillator/Frameworks/AudioKit
	url = https://github.com/audiokit/AudioKit/tree/develop.git
[submodule "FMOscillator/ThirdParty/ORSSerialPort"]
	path = FMOscillator/ThirdParty/ORSSerialPort
	url = https://github.com/armadsen/ORSSerialPort.git
